#header-title {
  color: whitesmoke;
}
#header-subtitle {
  color: whitesmoke;
}
#header-bar {
  background: #3a9424;
  height: 14em;
  width: 100%;
  margin: auto;
  margin-top: 4em;
  border-top: .1em solid black;
  text-align: center;
}
#header-block-text {
  text-align: center;
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
#body-text {
  color: black;
  width: 50%;
  text-align: center;
  margin: auto;
  margin-top: 3em;
  font-size: 1.35em;
}
