#jum {
  display: block;
  margin: 80px;
  text-align: center;
  color: #90ee90;
}
#h2 {
  color: #90ee90;
}
#top {
  background: #1abc9c;
  color: black;
  height: 300px;
  width: 100%;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  font-family: Garamont;
}
#bot {
  color: black;
  height: 200px;
  width: 80%;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}
#header {
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
#head {
  text-align: center;
  margin: auto;
  color: black;
  margin: auto;
  vertical-align: middle;
}
#p {
  text-align: center;
  margin: auto;
  vertical-align: center;
  margin: auto;
  padding: 20 px;
  font-family: Garamont;
}
