/* html {
  background: url("https://mdbootstrap.com/img/Photos/Others/img%20(42).jpg")no-repeat center center;
  background-size: cover;
}
 */

#idH2 {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  color: #333;
  margin: 2rem 5rem;
}

.pageBackground {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, rgb(168, 255, 120), rgb(120, 255, 214))
}

.styles {
  margin-top: 100px;
}

.errorMessage {
  color: red;
}

.LoginContain {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #d8dee2;
  border-radius: 8px;
  -webkit-box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 0.76);
  box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 0.76);
}
