#signInButton {
    /* circle border */
    border: 2px solid #3a9424;
    display: inline-block;
    border-radius: 50%;

    /* align to right corner */
    position:absolute;
    right: 0px;
    margin-right: 0px;
}

#signUpButton:hover {
    cursor: pointer;
    background-color: #3a9424; /*rgb(245, 237, 237); */
    transition: .6s;
}

#loginButton {
    position:absolute;
    right: 75px;
    margin-right: 5px;
}


/* Dynamic dropdown CSS */
#dynamicUserGreeting {
    color: rgba(0,0,0,.5);
    /* position:absolute; */
    margin-right: 0px;
}


#usrName{
    position:absolute;
    right: 0px;
    bottom: 0px;
}

.nav-link:hover {
    text-decoration: underline!important;
}
.navbar-color {
    background: #ffffff;   /*rgba(3, 49, 152, 0.966) */
}

.color-transition-nav {
    background: rgb(207, 204, 204);
}

.transparent-nav {
    background: transparent;
}


@media (min-width: 992px) {
    .navbar-brand {
        margin-right: 3rem;
    }
    .nav-link {
        margin: 0 15px 0;
    }
}

@media (min-width: 1500px) {

    .navbar-brand {
        margin-right: 8rem;
    }
    .nav-link {
        margin: 0 5.5rem 0;
    }
}

@media (min-width: 1800px) {
    .navbar-brand {
        margin-right: 8rem;
    }
    .nav-link {
        margin: 0 7.5rem 0;
    }
}