#wholePostWrapper {
    margin-top: 5em;
    font-family: sans-serif;
}

.row {
  margin-right:0;
  margin-left:0;
}
.row > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

/* Left Side Post Wrapper */
#postWrapper {
  margin-left: 3em;
  border-right: 1px solid #D0D1D5;
  padding-right: .5em;
}

/* Post Content */
#title {
  color: rgb(25, 62, 130);
  font-size: 2em;
  margin: 0;
}

#community {
  font-size: 1.2em;
  margin: 0;
}

#poster {
  font-size: 1.5em;
  color: rgb(118, 121, 129);
  margin: 0;
}

#date {
  font-size: 1em;
  color: rgb(124, 128, 136);
  margin: 0;
}

#description {
  font-size: 1.25em;
  margin-top: 1.5em;
}

#postPicture {
  max-width: 40vw;
  margin-bottom: .5em;
  margin-left: 0;
}

/* Right Side Comment Wrapper */
#commentWrapper {
  padding-left: .5em;
  margin-right: 3em;
}

/* Comment Content */
#commentDropdown {
  background-color: white;
  border: 0;
}

#commentEllipsis {
  color: #586069;
}

#commentBody {
  height:80em;  
  overflow:scroll;
}

#author {
  margin:0;
  padding:.50em;
  width:1em;
  font-weight: bold;
}

#comment {
  margin:0;
  padding:.5em;
  width:1em;
}

#menu {
  margin:0;
  padding-left:.5em;
  padding-top:.5em;
  padding-bottom:.5em;
  padding-bottom:0em;
  width:1em;
}

#commentTextField {
  height: 5em;
  width: 75%;
  margin-bottom: 1em;
  background-color: #f2f3f5;
  border-radius: 15px;
  border: 2px solid #dddfe2;
  padding: 20px; 
  outline: none;
}

#postCommentButton {
  background-color: #586069;
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
}

