#wholePostWrapper {
    margin-top: 5em;
}

.row {
  margin-right:0;
  margin-left:0;
}
.row > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

/* Does nothing atm */
* {
  font-family: sans-serif;
}

/* Left Side Post Wrapper */
#postWrapper {
  margin-left: 3em;
  border-right: 1px solid #D0D1D5;
  padding-right: .5em;
}

/* Post Content */
#title {
  color: rgb(25, 62, 130);
  font-size: 3em;
  margin: 0;
}

#community {
  font-size: 1.2em;
  margin: 0;
}

#poster {
  font-size: 1.5em;
  color: #90949C;
  margin: 0;
}

#date {
  font-size: 1em;
  color: #90949C;
  margin: 0;
}

#description {
  font-size: 1.25em;
  margin-top: 1.5em;
}

#postPicture {
  max-width: 50vw;
  margin-bottom: .5em;
  margin-left: 0;
}

/* Right Side Comment Wrapper */
#commentWrapper {
  padding-left: .5em;
  margin-right: 3em;
}

/* Comment Content */
#author {
  margin:0;
  padding:.50em;
  width:1em;
}

#comment {
  margin:0;
  padding:.5em;
  width:1em;
}

#commentTextField {
  color: #1c1d20;
  height: 5em;
  width: 100%;
}

#postCommentButton {
  background-color: #586069; /* Green */
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
}
