.form-styles label,
.form-styles input
.form-styles textarea {
  width: 100%;
  display: block;
}

.form-styles label {
  margin-bottom: 0.5rem;
}

.form-styles {
  margin-bottom: 1rem;
}

.Post-Text {
  font-size: 13px;
}

.PostTitle {
  font-size: 18px;
}

.postDate {
  font-size: 14px;
  color: #808080;
}

.postPrice {
  /* background: red; */
  border: 1px solid #D0D1D5;
  border-radius: 4px;
  padding: 2px;
}

.deletePost {
  border: 1px solid #3d3d3f!important;
  margin-top: 10px;
  padding: 3px!important;
  font-size: 10px!important;
  background: #d84d3e!important;
}