body {
    font-family: 'Nunito', sans-serif;
}


@media (min-width: 992px) {

    .navbar-brand {
        margin-right: 3rem;
    }
    .nav-link {
        margin: 0 15px 0;
    }
}

@media (min-width: 1500px) {

    .navbar-brand {
        margin-right: 8rem;
    }
    .nav-link {
        margin: 0 50px 0;
    }
}

@media (min-width: 1800px) {

    .navbar-brand {
        margin-right: 8rem;
    }
    .nav-link {
        margin: 0 5.5rem 0;
    }
}

.search-button {
    cursor: pointer;
}

.search-button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.btn-and-border {
    background-color: rgba(0, 136, 169, 1);
    border-radius: 50px;
    color: white;
};



